apiVersion: maas.opendatahub.io/v1alpha1
kind: MaaSModelRef
metadata:
  name: "{{ _t_model }}"
  namespace: "{{ ocp_4_20_ai_maas_model_namespace }}"
spec:
  modelRef:
    kind: LLMInferenceService
    name: "{{ _t_model }}"
{% if not (_t_is_default | bool) %}
  tenantRef: "{{ _t_name }}"
{% endif %}
