apiVersion: maas.opendatahub.io/v1alpha1
kind: MaaSAuthPolicy
metadata:
  name: model-access
  namespace: "{{ _t_govns }}"
spec:
  modelRefs:
  - name: "{{ _t_model }}"
    namespace: "{{ ocp_4_20_ai_maas_model_namespace }}"
  subjects:
    groups:
{% for tier in _t_tiers %}
{% if tier.group | default('', true) | length > 0 %}
    - name: "{{ tier.group }}"
{% endif %}
{% endfor %}
{% if ocp_4_20_ai_maas_provision_test_identities | bool %}
    users:
{% for tier in _t_tiers %}
    - "system:serviceaccount:{{ _t_govns }}:testuser-{{ tier.name | regex_replace('-subscription$', '') }}"
{% endfor %}
{% endif %}
